<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:insert="head::head"> </div>

<body>
    <div class="invitation hidden">
      <p><span id="invi__name"></span >wants a rematch!</p>
      <button id="invite__accept" type="button" class="btn btn-success" onclick="">Accept</button>
      <button id="invite__decline" type="button" class="btn btn-danger" onclick="">Decline</button>
    </div>
  
    <div class="decline hidden">
      <p id="noti"></p>
      <button id="decline_btn" type="button" class="btn btn-success" onclick="$('.decline').addClass('hidden');">OK</button>
    </div>

    <div class="rematch hidden">
        <p id="rematchNoti"></p>
        <button id="rematch" type="button" class="btn btn-success" onclick="rematch()">Continue?</button>
        <button id="return" type="button" class="btn btn-success" onclick="quit()">Return</button>
    </div>
    
    <div class="accept hidden">
        <p id="acceptNoti"></p>
        <button id="enter" type="button" class="btn btn-success" disabled>Waiting...</button>
    </div>

    <div class="game">
        <div class="row">
            <div class="col-3">
                <div class="player">
                    <p id="player1__name">Waiting the Player</p>
                    <p>O</p>
                </div>
            </div>
            <div class="col-6">
                <div class="board">
                    <table>
                        <tr>
                            <td><button class="board__btn" disabled></button></td>
                            <td><button class="board__btn" disabled></button></td>
                            <td><button class="board__btn" disabled></button></td>
                        </tr>
                        <tr>
                            <td><button class="board__btn" disabled></button></td>
                            <td><button class="board__btn" disabled></button></td>
                            <td><button class="board__btn" disabled></button></td>
                        </tr>
                        <tr>
                            <td><button class="board__btn" disabled></button></td>
                            <td><button class="board__btn" disabled></button></td>
                            <td><button class="board__btn" disabled></button></td>
                        </tr>
                    </table>
                    <p id="countdown"></p>
                    <p id="turn">Waiting</p>
                </div>
            </div>
            <div class="col-3">
                <div class="player">
                    <p id="player2__name">Waiting the Player</p>
                    <p>X</p>
                </div>
            </div>
        </div>
    <button type="button" class="btn btn-danger" onclick="quit()">QUIT</button>
    </div>
    
</body>

<script th:inline="javascript">
    var stompClient = null;
    var countdown = null;
    function connect() {
        var socket = new SockJS('/ttt-websocket');
        stompClient = Stomp.over(socket);

        let gameId = /*[[${session.game.id}]]*/ ;
        let id = /*[[${session.account.id}]]*/ ;

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/client/game/' + gameId, function (msg) {
                turn(msg.body);
            });
            stompClient.subscribe('/client/game/' + gameId + "/" + id, function (msg) {
                enter(msg.body);
            });
            stompClient.subscribe('/client/move/' + gameId, function (msg) {
                turn(msg.body);
            });
            stompClient.subscribe('/client/result/' + gameId, function (msg) {
                result(msg.body);
            });
            stompClient.subscribe('/client/rematch/' + gameId, function (msg) {
                enterGame(msg.body);
            });
            stompClient.subscribe('/client/quit/' + gameId, function (msg) {
                endGame();
            });

            ready();
            newLogin();
        });
    }

    function newLogin() {
        let id = /*[[${session.account.id}]]*/ ;
        stompClient.send("/app/newlogin", {}, id);
    }

    function enterGame(id) {
        document.getElementById('enter').removeAttribute("disabled");
        document.getElementById("enter").innerHTML = "The game is ready!";
        document.getElementById('enter').innerHTML = "Let's go!!";
        document.getElementById('enter').setAttribute("onclick",
        `window.location.replace('/game?matchID=${id}');`);
    }

    function ready() {
        let gameId = /*[[${session.game.id}]]*/ ;
        let id = /*[[${session.account.id}]]*/ ;
        let name = /*[[${session.account.name}]]*/ ;

        stompClient.send("/app/ready", {}, gameId + " " + id);
    }

    function turn(msg) {
        let temp = msg.split(" ");
        let id = temp[0];
        console.log(temp[1]);
        let gameId = /*[[${session.game.id}]]*/ ;
        let thisId = /*[[${session.account.id}]]*/ ;
        let accId1 = /*[[${session.game.acc1.id}]]*/ ;
        let accId2 = /*[[${session.game.acc2.id}]]*/ ;

        let name1 = /*[[${session.game.acc1.name}]]*/ ;
        let name2 = /*[[${session.game.acc2.name}]]*/ ;
        if (thisId == id) {
            document.getElementById("turn").innerHTML = "Your turn";
        } else {
            if (accId1 == id) {
                document.getElementById("turn").innerHTML = name1 + "'s turn";
            } else {
                document.getElementById("turn").innerHTML = name2 + "'s turn";
            }
        }
        if (thisId == id) {
            for (let i = 0; i < 9; i++) {
                document.getElementsByClassName('board__btn')[i].setAttribute("onclick", `move(${id}, ${i + 1})`);
                if (temp[1][i] != "-"){
                    document.getElementsByClassName('board__btn')[i].innerHTML = temp[1][i];
                } else{
                    document.getElementsByClassName('board__btn')[i].removeAttribute("disabled");
                }
            }
            // Set the date we're counting down to
            var countDownDate = new Date().getTime() + 17000;

            // Update the count down every 1 second
            countdown = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("countdown").innerHTML = seconds + "s ";

                if (distance < 0) {
                    clearInterval(countdown);
                    document.getElementById("countdown").innerHTML = "Waiting";
                    stompClient.send("/app/surr", {}, gameId + " " + thisId);
                }
            }, 1000);

        } else {
            for (let i = 0; i < 9; i++) {
                document.getElementsByClassName('board__btn')[i].setAttribute("disabled", true);
            }
        }
        
    }

    function move(accId, pos) {
        let rs = "";

        clearInterval(countdown);
        document.getElementById("countdown").innerHTML = "";

        let accId1 = /*[[${session.game.acc1.id}]]*/ ;
        let accId2 = /*[[${session.game.acc2.id}]]*/ ;

        if (accId == accId1) {
            document.getElementsByClassName('board__btn')[pos - 1].innerHTML = "O";
        } else {
            document.getElementsByClassName('board__btn')[pos - 1].innerHTML = "X";
        }

        for (let i = 0; i < 9; i++) {
            let val = document.getElementsByClassName('board__btn')[i].textContent;
            document.getElementsByClassName('board__btn')[i].setAttribute("disabled", true);
            rs += (val != "") ? val : "-";
        }
        console.log(rs);
        let gameId = /*[[${session.game.id}]]*/ ;

        if (accId == accId1) {
            stompClient.send("/app/move", {}, gameId + " " + accId + " " + accId2 + " " + rs);
        } else {
            stompClient.send("/app/move", {}, gameId + " " + accId + " " + accId1 + " " + rs);
        }
    }

    function result(rs) {
        document.getElementById("turn").innerHTML = "Finish";
        var interval_id = window.setInterval("", 9999);
        for(let i = 1; i < interval_id; i++){
            window.clearInterval(i);
        }
        for (let i = 0; i < 9; i++) {
            document.getElementsByClassName('board__btn')[i].setAttribute("disabled", true);
        }

        let accId1 = /*[[${session.game.acc1.id}]]*/ ;
        let accId2 = /*[[${session.game.acc2.id}]]*/ ;

        let name1 = /*[[${session.game.acc1.name}]]*/ ;
        let name2 = /*[[${session.game.acc2.name}]]*/ ;
        if (rs == 1) {
            document.getElementById("rematchNoti").innerHTML = name1 + " WINS!";
        } else if(rs == 2) {
            document.getElementById("rematchNoti").innerHTML = name2 + " WINS!";
        }else{
            document.getElementById("rematchNoti").innerHTML = "DRAW!";
        }
        $('.rematch').removeClass('hidden');
    }

    function rematch(){
        $('.rematch').addClass('hidden');
        $('.accept').removeClass('hidden');
        let gameId = /*[[${session.game.id}]]*/ + 1;
        let accId1 = /*[[${session.game.acc1.id}]]*/ ;
        let accId2 = /*[[${session.game.acc2.id}]]*/ ;

        stompClient.send("/app/rematch", {}, gameId + " " + accId1 + " " + accId2);
    }

    function quit(){
        let gameId = /*[[${session.game.id}]]*/ + 1;

        stompClient.send("/app/quit", {}, gameId);
        window.location.replace('/');
    }

    function endGame(){
        $('.decline').removeClass('hidden');
        $('.rematch').addClass('hidden');
        document.getElementById("noti").innerHTML = "Your Opponent has left!";
        document.getElementById('decline_btn').setAttribute("onclick",
        `window.location.replace('/');`);
    }

    $(document).ready(function () {
        let name1 = /*[[${session.game.acc1.name}]]*/ ;
        let name2 = /*[[${session.game.acc2.name}]]*/ ;
        document.getElementById("player1__name").innerHTML = name1;
        document.getElementById("player2__name").innerHTML = name2;
        connect();
    });
</script>

</html>