<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:insert="head::head"> </div>

<body>
  <div class="invitation hidden">
    <p>You have an invitation from <span id="invi__name"></span></p>
    <button id="invite__accept" type="button" class="btn btn-success" onclick="">Accept</button>
    <button id="invite__decline" type="button" class="btn btn-danger" onclick="">Decline</button>
  </div>

  <div class="decline hidden">
    <p id="noti"></p>
    <button id="" type="button" class="btn btn-success" onclick="$('.decline').addClass('hidden');">OK</button>
  </div>

  <div class="accept hidden">
    <p id="acceptNoti"></p>
    <button id="enter" type="button" class="btn btn-success">OK</button>
  </div>

  <div class="main">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h1>TicTacToe Online</h1>
        <div>
          <span>Hello <span th:text="${session.account.name}" id="name">ádasd</span></span> <br>
          <span>Your point: <span th:text="${session.account.point}"></span></span> <br>
          <a href="/logout" id="disconnect">Log out</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="3">Online</th>
                </tr>
              </thead>
              <tbody id="greetings">
              </tbody>

            </table>
          </div>
        </div>
      </div>
      <div class="col-7">
        <button class="btn btn-success" onclick="loadLdb()">SHOW LEADERBOARD</button>
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Point</th>
                </tr>
              </thead>
              <tbody id="ldb">
              </tbody>

            </table>
      </div>
    </div>
  </div>

</body>
<script th:inline="javascript">
  var stompClient = null;

  function connect() {
    var socket = new SockJS('/ttt-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
      console.log('Connected: ' + frame);
      stompClient.subscribe('/client/new', function (greeting) {
        resetAccountList(greeting);
      });
      let id = /*[[${session.account.id}]]*/ ;
      stompClient.subscribe('/client/invite/' + id, function (msgOut) {
        showInvite(msgOut);
      });

      stompClient.subscribe('/client/decline/' + id, function (msgOut) {
        showDecline(msgOut);
      });
      stompClient.subscribe('/client/accept/' + id, function (msgOut) {
        enterGame(msgOut.body);
      });
      stompClient.subscribe('/client/ldb/' + id, function (msgOut) {
        displayLdb(msgOut.body);
      });
      newLogin();
    });
  }

  function disconnect() {
    if (stompClient !== null) {
      stompClient.disconnect();
    }
    setConnected(false);
    console.log("Disconnected");
  }

  function newLogin() {
    let id = /*[[${session.account.id}]]*/ ;
    stompClient.send("/app/newlogin", {}, id);
  }

  function resetAccountList(greeting) {
    let accList = JSON.parse(greeting.body);
    document.getElementById("greetings").innerHTML = ' ';
    let id = /*[[${session.account.id}]]*/ ;
    let name = /*[[${session.account.name}]]*/ ;
    for (i in accList) {
      if (accList[i].id == id) {
        $("#greetings").append(`<tr><td>${accList[i].name}</td><td>${accList[i].point}</td><td>You</td></tr>`);
      } else {
        if(accList[i].status == 1){
          $("#greetings").append(
            `<tr><td>${accList[i].name}</td><td>${accList[i].point}</td><td><button onclick="challenge(${id}, ${accList[i].id}, '${name}')">Challenge</button></td></tr>`
          );
        }else{
          $("#greetings").append(
            `<tr><td>${accList[i].name}</td><td>${accList[i].point}</td><td><button disabled>Busy</button></td></tr>`
          );
        }
      }
    }
  }
  $(document).ready(function () {
    $("form").on('submit', function (e) {
      e.preventDefault();
    });
    connect();
    $("#disconnect").click(function () {
      newLogin();
    });
  });

  function challenge(id1, id2, name) {
    stompClient.send("/app/invite", {}, id1 + " " + id2 + " " + name);
  }

  function inviteAccept(id1, id2) {
    stompClient.send("/app/invite/accept", {}, id1 + " " + id2);
    $('.invitation').addClass('hidden');
  }

  function inviteDecline(id, name) {
    stompClient.send("/app/invite/decline", {}, id + " " + name);
    $('.invitation').addClass('hidden');
  }

  function showDecline(msg) {
    document.getElementById("noti").innerHTML = msg.body + " has declined your invitation!";
    $('.decline').removeClass('hidden');
  }

  function enterGame(id) {
    document.getElementById("acceptNoti").innerHTML = "The game is ready!";
    $('.accept').removeClass('hidden');
    document.getElementById('enter').setAttribute("onclick",
      `window.location.replace('/game?matchID=${id}');`);
  }

  function showInvite(msg) {
    let temp = msg.body.split(" ");
    let id = /*[[${session.account.id}]]*/ ;
    let name = /*[[${session.account.name}]]*/ ;
    $('.invitation').removeClass('hidden');
    document.getElementById('invite__accept').setAttribute("onclick", `inviteAccept('${temp[0]}', ${id})`);
    document.getElementById('invite__decline').setAttribute("onclick", `inviteDecline(${temp[0]}, '${name}')`);
    document.getElementById("invi__name").innerHTML = temp[1];
  }

  function loadLdb(){
    let id = /*[[${session.account.id}]]*/ ;
    stompClient.send("/app/ldb/basic", {}, id);
  }

  function displayLdb(ldb){
    let accList = JSON.parse(ldb).ldb;
    document.getElementById("ldb").innerHTML = ' ';
    for (i in accList) {
        $("#ldb").append(
          `<tr><td>${accList[i].id}</td><td>${accList[i].name}</td><td>${accList[i].point}</td></tr>`
        );
      }
  }
</script>

</html>