<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:insert="/head::head"> </div>

<body>
  <div class="main">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h1>TicTacToe Online</h1>
        <div>
          <span>Hello <span th:text="${session.account.name}" id="name"></span></span> <br>
          <span>Your point: <span th:text="${session.account.point}"></span></span> <br>
          <a href="/logout">Log out</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <div class="row">
          <div class="col-md-12">
              <table id="conversation" class="table table-striped">
                  <thead>
                  <tr>
                      <th colspan="2">Online</th>
                  </tr>
                  </thead>
                  <tbody id="greetings">
                    <tr th:each="acc: ${session.online}">
                        <td th:text="${acc.id}" />
                        <td th:text="${acc.name}" />
                    </tr>
                  </tbody>
                  
              </table>
          </div>
      </div>
      </div>
      <div class="col-7">

      </div>
    </div>
  </div>

</body>
<script>
  var stompClient = null;

  function setConnected(connected) {
    $("#connect").prop("disabled", connected);
    $("#disconnect").prop("disabled", !connected);
    if (connected) {
      $("#conversation").show();
    }
    else {
      $("#conversation").hide();
    }
    $("#greetings").html("");
  }

  function connect() {
    var socket = new SockJS('/ttt-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
      setConnected(true);
      console.log('Connected: ' + frame);
      stompClient.subscribe('/topic/greetings', function (greeting) {
        showGreeting(JSON.parse(greeting.body).content);
      });
      sendName();
    });
  }

  function disconnect() {
    if (stompClient !== null) {
      stompClient.disconnect();
    }
    setConnected(false);
    console.log("Disconnected");
  }

  function sendName() {
    stompClient.send("/app/hello", {}, JSON.stringify({ 'name': $("#name").val() }));
  }

  function showGreeting(message) {
    $("#greetings").append("<tr><td>" + message + "</td></tr>");
  }
  // $(document).ready(function () {
  //   $("form").on('submit', function (e) {
  //     e.preventDefault();
  //   });
  //   connect();
  //   // $("#disconnect").click(function () { disconnect(); });
  // });
</script>

</html>